vosk
pyaudio
google-generativeai
pyttsx3
pynput
numpy
pyautogui
obs-websocket-py
obsws-python
pycaw
pygame
pydub
audioop-lts; python_version>='3.13'
SpeechRecognition
ffmpeg
spotipy
pyreadline3
torch
faster-whisper
pywin32